<div class="container">

  <div class="container_header">
    <img [src]="imgUrl" alt="avatar">
    <p>{{name}}</p>
  </div>

  <div class="container_chat">

    <!-- під класом chat_message_auto знаходяться автоматичні повідомлення, sender: будь який контакт з чату -->
    <div class="chat_message_auto">
      <div class="message_container">
        <img [src]="imgUrl" alt="avatar">
        <p>message</p>
      </div>
      <p class="chat_message_auto_time">time</p>
    </div>

    <!-- під класом chat_message_my знаходяться відповіді від мене, sender: 'AndriiBoiyarin' -->
    <div class="chat_message_my">
      <p class="chat_message_my_text">message</p>
      <p class="chat_message_my_time">time</p>
    </div>

    <div class="chat_message_my">
      <p class="chat_message_my_text">message</p>
      <p class="chat_message_my_time">time</p>
    </div>

  </div>

  <div class="container_message">
    <input type="text" placeholder="Type your message">
    <mat-icon>send</mat-icon>
  </div>

</div>