<div class="container">

  <div class="container_header">
    <div class="container_header_info">
      <ng-container *ngIf="!isEditing; else editMode">
        <p>{{ name }} {{ surname }}</p>
      </ng-container>

      <ng-template #editMode>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" [(ngModel)]="editedName" />
        </div>
        <div>
          <label for="surname">Surname:</label>
          <input type="text" id="surname" [(ngModel)]="editedSurname" />
        </div>
      </ng-template>
    </div>

    <div class="container_header_btn">
      <ng-container *ngIf="!isEditing; else saveCancelButtons">
        <button class="btn" (click)="editPerson()"><mat-icon>edit</mat-icon></button>
        <button class="btn" (click)="deletePerson()"><mat-icon>delete</mat-icon></button>
      </ng-container>

      <ng-template #saveCancelButtons>
        <button class="btn" (click)="saveChanges()"><mat-icon>check</mat-icon></button>
        <button class="btn" (click)="cancelChanges()"><mat-icon>close</mat-icon></button>
      </ng-template>
    </div>
  </div>

  <div class="container_chat" #chatContainer>
    <div *ngIf="messages && messages.length > 0; else noMessages; ">
      <div *ngFor="let message of messages">
        <div *ngIf="!isMyMessage(message.sender)" class="chat_message_auto">
          <div class="message_container">
            <img [src]="imgUrl" alt="avatar">
            <p>{{ message.message }}</p>
          </div>
          <p class="chat_message_auto_time">{{ message.time | date:'shortTime' }}</p>
        </div>

        <div *ngIf="isMyMessage(message.sender)" class="chat_message_my">
          <div class="my_message_container">
            <p class="chat_message_my_text">{{ message.message }}</p>
            <button class="btn" (click)="editMessage(message)"><mat-icon>edit</mat-icon></button>
          </div>
          <p class="chat_message_my_time">{{ message.time | date:'shortTime' }}</p>
        </div>
      </div>
    </div>

    <ng-template #noMessages>
      <div class="no-messages">
        <p>No messages yet. Start the conversation!</p>
      </div>
    </ng-template>
  </div>

  <div class="container_message">
    <input type="text" placeholder="Type your message" [(ngModel)]="newMessageContent" (keydown.enter)="sendMessage()"
      #messageInput />
    <button class="btn" (click)="sendMessage()" [disabled]="!newMessageContent.trim()">
      <mat-icon>{{ isEditingMessage ? 'save' : 'send' }}</mat-icon>
    </button>
  </div>

</div>

<div class="notifications-container">
  <app-notification *ngFor="let notification of notifications" [name]="notification.name"
    [surname]="notification.surname" [message]="notification.message"
    (close)="closeNotification(notification)"></app-notification>
</div>