<div class="container">

  <div class="container_header">
    <img src="../../../assets/images/icon/2.png" alt="avatar">
    <p>Alice Freeman</p>
  </div>

  <div class="container_chat">

    <div class="chat_message_auto">
      <div class="message_container">
        <img src="../../../assets/images/icon/2.png" alt="avatar">
        <p>Hi, how are you?</p>
      </div>
      <p class="chat_message_auto_time">time</p>
    </div>

    <div class="chat_message_my">
      <p class="chat_message_my_text">Not bad. What about you?</p>
      <p class="chat_message_my_time">time</p>
    </div>

    <div class="chat_message_my">
      <p class="chat_message_my_text">Not bad. What about you?</p>
      <p class="chat_message_my_time">time</p>
    </div>

  </div>

  <div class="container_message">
    <input type="text" placeholder="Type your message">
    <mat-icon>send</mat-icon>
  </div>

</div>