<div class="container">

  <div class="container_info">
    <div class="container_personal">
      <img src="{{myImgUrl}}" alt="avatar {{myName}}">
      <p>{{myName}} {{mySurname}}</p>
    </div>
    <div class="container_btn">
      <button class="btn" (click)="openDialog()">New contact</button>
      <button class="btn">Login</button>
    </div>
  </div>

  <div class="container_search">
    <input type="text" placeholder="Search or start new chat" [(ngModel)]="searchTerm" (input)="onSearch()" />
    <mat-icon>search</mat-icon>
  </div>

  <div *ngIf="searchTerm" class="search-results-container">
    <app-search [messages]="allMessages" [searchTerm]="searchTerm"></app-search>
  </div>

</div>