<div class="container">
  <p class="title_chats">Chats</p>

  <div class="container_chats">
    <ul>
      <li *ngFor="let contact of contacts" class="person_chat" (click)="selectPerson(contact)"
        [class.selected]="contact === selectedContact">
        <div class="container_person_chat">
          <div class="person_chat_info">
            <img [src]="contact.imgUrl" alt="avatar {{ contact.name }} {{ contact.surname }}">
            <div class="person_chat_text">
              <p class="person_chat_name">{{ contact.name }} {{ contact.surname }}</p>
              <p class="person_chat_message">{{ contact.lastMessage | maxlength}}</p>
            </div>
          </div>
          <div class="person_chat_time">
            <p>{{ contact.time | date: 'mediumDate' }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>