<div class="container">
  <section class="left-side">
    <app-header></app-header>
    <app-chats (personSelected)="onPersonSelected($event)"></app-chats>
    <app-notification class="notification"></app-notification>
  </section>

  <section class="right-side">
    <ng-container *ngIf="selectedPerson; else noChatSelected">
      <app-chat [name]="selectedPerson?.name" [surname]="selectedPerson?.surname" [imgUrl]="selectedPerson?.imgUrl"
        [messages]="selectedPerson?.message" (personDeleted)="onPersonDeleted()"
        (editingStateChanged)="onEditingStateChanged($event)">
      </app-chat>
    </ng-container>
    <ng-template #noChatSelected>
      <div class="no-chat-message">
        <p>Please, select chat</p>
      </div>
    </ng-template>
  </section>
</div>