<div class="container">
  <section class="left-side">
    <app-header></app-header>
    <app-chats (personSelected)="onPersonSelected($event)" [contacts]="contacts" [isEditing]="isEditing"></app-chats>
  </section>

  <section class="right-side">
    <ng-container *ngIf="selectedPerson; else noChatSelected">
      <app-chat [contact]="selectedPerson" [name]="selectedPerson.name || ''" [surname]="selectedPerson.surname || ''"
        [imgUrl]="selectedPerson.imgUrl || ''" [messages]="selectedPerson.messages || []"
        (contactDeleted)="onPersonDeleted($event)" (editingStateChanged)="onEditingStateChanged($event)"
        (messagesUpdated)="onMessagesUpdated($event)">
      </app-chat>
    </ng-container>
    <ng-template #noChatSelected>
      <div class="no-chat-message">
        <p>Please, select chat</p>
      </div>
    </ng-template>
  </section>
</div>